In [1]:
import nltk

In [9]:
import numpy as np
import pandas as pd

In [3]:
data_frame=pd.read_csv('Dataset/IMDB Dataset.csv')

In [5]:
data_frame.shape

(50000, 2)

In [8]:
data_frame.columns

Index(['review', 'sentiment'], dtype='object')

In [24]:
sentiment=data_frame.iloc[:,1].values
review=data_frame.iloc[:,0].values

In [27]:
data_frame.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [30]:
data_frame

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [36]:
data_frame.groupby('sentiment').count()

           review
sentiment
negative    25000
positive    25000

In [37]:
import matplotlib.pyplot as plt

In [48]:
data_frame['word_count']=data_frame['review'].apply(lambda x: len(x.split()))

In [47]:
data_frame['char_count']=data_frame['review'].apply(lambda x: len(x.replace(" ","")))

In [49]:
data_frame

,review,sentiment,char_count,word_count
0,One of the other reviewers has mentioned that ...,positive,1455,307
1,A wonderful little production. <br /><br />The...,positive,837,162
2,I thought this was a wonderful way to spend ti...,positive,761,166
3,Basically there's a family where a little boy ...,negative,611,138
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,1088,230
...,...,...,...,...
49995,I thought this movie did a down right good job...,positive,815,194
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",negative,531,112
49997,I am a Catholic taught in parochial elementary...,negative,1051,230
49998,I'm going to have to disagree with the previou...,negative,1023,212
49999,No one expects the Star Trek movies to be high...,negative,550,129